* 
{
	padding: 0;
	margin: 0;
}

body
{
	background-size: cover;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

@font-face { font-family: 'music-font';
             src: url('Schriften/Aesop-RegularItalic.ttf') format('truetype'); }
			 
@font-face { font-family: 'music-font2';
             src: url('Schriften/Advantage-Book.ttf') format('truetype'); }
			 

.mainpicture
{
	background-image: url("images/kapelle2.jpg");
	width: 100%;
	height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.mainpicture
{
	display: none;
}
}

@media screen and (min-width: 35.001em) {
.mainpicture
{
	background-image: url("images/kapelle2.jpg");
	height: 100vh;
}
}

.logo
{
	position: fixed;
	padding: 0;
	top: 0;
	text-align: center;
	z-index: 11;
}

.logo img
{
	width: 100%;
}

.navbar
{
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	float: center;
	position: fixed;
	background-color: white;
	z-index: 1;
	color: #B40404;
	font-weight: bold;
	font-size: 1.3vw;
	text-decoration: none;
	-webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 30px black;
	text-align: center;
}

.navbar ul
{
	display: none;
	list-style: none;
}

@media screen and (min-width: 70.001em) {
.navbar ul
{
	display: inline-block;
	list-style: none;
}
}

.navbar li
{
	display: inline-block;
	text-align: center;
	width: 10vw;
	padding: 0.8vw 0.5vw;
	font-family: music-font2, Helvetica, CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#place
{
	width: 0;
	padding: 0;
	margin: 0;
}

.navbar li:hover
{
	cursor: pointer;
}

.navbar p
{
	color: white;
}

.real
{
	background-color: white;
	transition: background-color 0.2s;
}

.real:hover
{
	background-color: #f2f2f2;
	cursor: pointer;
}

.active
{
	background-color: #610B0B;
	color: white;
	transition: background-color 0.5s;
}

.active:hover
{
	background-color: #913B3B;
}

.nav_menu_icon
{
	float: right;
	width: 8em;
}

@media screen and (min-width: 35.001em) {
.nav_menu_icon
{
	float: right;
	width: 4em;
}
}

@media screen and (min-width: 70.001em) {
.nav_menu_icon
{
	display: none;
}
}

.nav_menu_icon img
{
	width: 100%;
	transition: transform 0.3s;
}

.nav_menu_icon img:hover
{
	cursor: pointer;
	transform: rotate(360deg);
}

.nav_menu
{
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 70vw;
	background-color: white;
	z-index: 12;
	font-size: 1.7em;
	font-family: music-font2, Helvetica, CenturyGothic, Geneva, AppleGothic, sans-serif;
	-webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 30px black;
	overflow: auto;
}

@media screen and (min-width: 70.001em) {
.nav_menu
{
	display: none;
}
}

.link
{
	margin-right: 0.5em;
	border-bottom: 2px solid #610B0B;
}

.link p
{
	padding-left: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #64646c;
}

#start1
{
	border-left: 15px solid #610B0B;
}

.site
{
	position: relative;
	width: 100%;
	height: 100vh;
	border-top: 4px solid #B40404;
	background-image: url("images/test8.jpg");
	background-size: cover;
	text-align: center;
	/*box-shadow: 0px 0px 300px black inset;*/
}

.wrapper
{
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 75em;
	top: 50vh;
	background-color: white;
	-webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 30px black;
}

@media screen and (min-width: 35.001em) {
.wrapper
{	
	top: 100vh;
}
}

.header
{
	grid-area: head;
	margin: auto;
	width: 100%;
	border-bottom: 4px solid #64646c;
}

.header p
{
	text-align: center;
	color: #0d7100;
	font-variant: small-caps;
	font-family: music-font, Helvetica, CenturyGothic, Geneva, AppleGothic, sans-serif;
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 2%;
}

@media screen and (min-width: 35.001em) { 
.header p
{
	font-size: 3em;
}
}

.description
{
	grid-area: desc;
	width: 100%;
	margin: auto;
	margin-top: 5vh;
	border-bottom: 4px solid #64646c;
}

.description p
{
	font-size: 1em;
	color: #64646c;
	font-weight: bold;
	text-align: center;
	font-family: music-font2, Helvetica, CenturyGothic, Geneva, AppleGothic, sans-serif;
}

@media screen and (min-width: 35.001em) {
.description p
{
	font-size: 1.4em;
}
}

.description table
{
	margin-top: 5vh;
	width: 100%;
}

.description td
{
    height: 5vh;
	width: 50%;
    vertical-align: middle;
	transition: all 0.2s;
}

.description #desc
{
	text-align: justify;
}

.description td#contactUs:hover
{
    cursor: pointer;
	border-radius: 15px;
	-webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 10px black;
}

.pending
{
	grid-area: achv;
	margin-left: 0.01vw;
	margin-top: 5vh;
	padding-left: 1em;
	background-color: #610B0B;
	-webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 50px black;
	font-family: music-font2, Helvetica, CenturyGothic, Geneva, AppleGothic, sans-serif;
}

@media screen and (min-width: 35.001em) { 
.pending
{
	padding-left: 5em;
	padding-right: 5em;
}
}

.pending h1
{
	padding-top: 2vh;
	font-weight: bold;
	font-size: 1.1em;
	color: white;
}

@media screen and (min-width: 35.001em) { 
.pending h1
{
	font-size: 1.4em;
}
}

.pending ul
{
	margin-top: 2vh;
	margin-bottom: 2vh;
	list-style-type: square;
	padding-left: 2vw;
}

.pending li
{
	font-family: music-font2, Helvetica, CenturyGothic, Geneva, AppleGothic, sans-serif;
	color: #c4c4cc;
	font-size: 1em;
	padding-top: 0.5vh;
}

@media screen and (min-width: 35.001em) { 
.pending li
{
	font-size: 1.3em;
}
}

.pending p
{
	margin-top: 1vh;
	font-family: music-font2, Helvetica, CenturyGothic, Geneva, AppleGothic, sans-serif;
	color: #c4c4cc;
	font-size: 1em;
	font-weight: bold;
}

@media screen and (min-width: 35.001em) { 
.pending p
{
	font-size: 1.3em;
}
}

.pending1
{
	grid-area: pndg1;
	text-align: center;
	padding-top: 2vh;
}

.pending1 img
{
	width: 50%;
	border: black solid 2px;
	-webkit-box-shadow: 0 0 10px #aaa;
        box-shadow: 0 0 100px #aaa;
}

/*.pending2
{
	grid-area: pndg2;
	text-align: center;
}

.pending2 img
{
	width: 100%;
	border: black solid 2px;
	-webkit-box-shadow: 0 0 10px #aaa;
        box-shadow: 0 0 100px #aaa;
}*/

.grid_pending
{	
	padding-top: 0em;
	padding-bottom: 0em;
	
	grid-area: grid_pending;
	display: grid;
	margin: 0;
	grid-template-columns: 0em 1fr 0em;
	grid-template-row: 1fr;
	grid-column-gap: 2em;
	grid-row-gap: 0em;
	grid-template-areas: 
		". pndg1 ."
	;
}

@media screen and (min-width: 70.001em) { 
.grid_pending
{	
	padding-top: 1em;
	padding-bottom: 1em;
	
	grid-area: grid_pending;
	display: grid;
	margin: 0;
	grid-template-columns: 5em 1fr 5em;
	grid-template-row: 1fr;
	grid-column-gap: 5em;
	grid-row-gap: 0em;
	grid-template-areas: 
		". pndg1 ."
	;
}
}

.event
{
	padding-top: 2em;
	padding-right: 1em;
}

.event h1
{
	padding-top: 2vh;
	font-weight: bold;
	font-size: 1.4em;
	color: black;
	font-family: music-font2, Helvetica, CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.event p
{
	padding-top: 2vh;
	padding-bottom: 2vh;
	font-weight: bold;
	font-size: 1.3em;
	color: #64646c;
	font-family: music-font2, Helvetica, CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.event a
{
	color: #0d7100;
	text-decoration: none;
}

.event a:hover
{
	cursor: pointer;
}

.event_unlimited
{
	grid-area: evn1;
}

.event_heimat
{
	grid-area: evn2;
}

.event_tracht
{
	grid-area: evn3;
}

.event_gartenfest
{
	grid-area: evn4;
}

.footer
{
	grid-area: foot;
	width: 100%;
	margin-left: 0.01vw;
}

.music
{
	background-color: #333339;
}

.music table
{
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 5vh;
	padding-bottom: 5vh;
	table-layout: fixed;
	width: 100%;
}

@media screen and (min-width: 35.001em) { 
.music table
{
	padding-left: 5em;
	padding-right: 5em;
}
}

.music td.over
{
	width: 60%;
	vertical-align: top;
}

.music td.contact
{
	width: 40%;
	vertical-align: top;
}

.music h1
{
	font-size: 21px;
	color: #EEE;
	margin-bottom: 3%;
	font-weight: bold;
	font-family: music-font2, CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.music p
{
	font-size: 15px;
	color: #EEE;
	font-family: music-font2, CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.formally
{
	background-color: #222229;
}

.formally table
{
	padding-left: 1em;
	padding-right: 1em;
	table-layout: fixed;
	width: 100%;
}

@media screen and (min-width: 35.001em) { 
.formally table
{
	padding-left: 5em;
	padding-right: 5em;
}
}

.formally ul
{
	list-style: none;
}

.formally li
{
	display: inline-block;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
}

.formally a
{
	text-decoration: none;
	color: #EEE;
	font-size: 1em;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.formally td.left
{
	width: 60%;
}

.formally td.right
{
	width: 40%;
}

.grid_content
{
	position: relative;
	top: 0;
	padding-top: 5vw;
	padding-left: 0;
	padding-right: 0;
		
	grid-area: grid_content;
	display: grid;
	margin: 0 auto;
	grid-template-columns: 1em 1fr 1fr 1em;
	grid-template-row: 8fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px; 
    grid-template-areas:  
		". head head ."
		". desc desc ."
		"achv achv achv achv"
		". evn1 evn1 ."
		". evn2 evn2 ."
		". evn3 evn3 ."
		". evn4 evn4 ."
		"foot foot foot foot"
    ;
}

@media screen and (min-width: 35.001em) { 
.grid_content { 
    position: relative;
	padding-top: 0vw;
	padding-left: 0;
	padding-right: 0;
		
	grid-area: grid_content;
	display: grid;
	margin: 0 auto;
	grid-template-columns: 5em 1fr 1fr 5em;
	grid-template-row: 6fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	grid-template-areas: 
		". head head ."
		". desc desc ."
		"achv achv achv achv"
		". evn1 evn2 ."
		". evn3 evn4 ."
		"foot foot foot foot"
	;
} 
}

@media screen and (min-width: 70.001em) { 
.grid_content {
    position: relative;
	padding-top: 15vw;
	padding-left: 0;
	padding-right: 0;
		
	grid-area: grid_content;
	display: grid;
	margin: 0 auto;
	grid-template-columns: 5em 1fr 1fr 5em;
	grid-template-row: 6fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	grid-template-areas: 
		". head head ."
		". desc desc ."
		"achv achv achv achv"
		". evn1 evn2 ."
		". evn3 evn4 ."
		"foot foot foot foot"
	;
} 
}